.my-button {
  position: relative;
  display: block;
  margin: 10px auto;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color 0.3s;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 500;
}

.my-button:hover,
.my-button:focus {
  background-color: #27ae60;
  color: #f2f6f8;
}

.edit {
  background-color: #2156d1
}

.delete {
  background-color: #e82243;
}

.save {
  background-color: #2ecc71;
}

.close {
  background-color: #1d6b96;
}
